/* ## Light mode styles */
.profile-card {
    font-family: System-ui, Helvetica, sans-serif;
    border: 1px solid #ccc;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns, image takes 1/3, text takes 2/3 */
    gap: 1rem; /* Space between grid items*/
    align-items: center; /* Vertically center items */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 10px 5px 5px gainsboro;
    transition: background-color 3s ease, color 3s ease, box-shadow 3s ease; /* Light/Dark theme Smooth transition */
}

.profile-img {
    border-radius: 50%;
    margin: 0 auto;
    transition: border 1s ease-out; /* Light/Dark theme Smooth transition */
}

.profile-info {
    text-align: left;
}

.profile-title {
    margin-bottom: 2px;
}

.card-button {
    background-color: #0056b3; /* Darker blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Space from the text above */
    font-size: 16px;
    transition: background-color 1s ease; /* Light/Dark theme & button state Smooth transition */
}

.card-button:hover {
    background-color: #007bff; /* Lighter blue on hover */
}


/* ## Dark mode styles */
.profile-card.dark-mode {
    background-color: #333; /* Dark background */
    color: #f0f0f0; /* Light text */
    border-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ### Dark mode image border */
.profile-card.dark-mode .profile-img {
    border: 2px solid #bbb;
}

/* ### Dark mode name color */
.profile-card.dark-mode .profile-name {
    color: #88ccff;
}

/* ### Dark mode title color */
.profile-card.dark-mode .profile-title {
    color: #bbb
}

/* ### Dark mode button styles */
.profile-card.dark-mode .card-button {
    background-color: #555;
}

.profile-card.dark-mode .card-button:hover {
    background-color: #777;
}

/* ## Media Query */
/* Responsive adjustement for Mobile devices */
@media (max-width: 768px) {
    .profile-card {
        max-width: 80%;
    }
}

/* Responsive adjustments for very small mobile screens */
/* It completes an equivalent media query in the 'App.css' file */
@media (max-width: 480px) {
    .profile-card {
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    h1 {
        margin: 0;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .profile-info {
        text-align: center;
    }
}